main {
  margin: 50px;
}

/* menu */
#nav-logo {
  width: 150px;
  height: 104px;
}

#nav-menu-icon {
  width: 70px;
  height: 70px;
}

#nav-menu {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 104px;
  background-color:rgb(75, 179, 179);
}

#nav-menu li {
  float: left;
}

#nav-menu li a {
  text-decoration: none;
  display: block;
  padding: 15px 30px;
  background-color:rgb(75, 179, 179);
}

#nav-menu li a:hover {
  background-color: rgb(149, 212, 212);
}

/* Search */
.search {
  padding: 20px;
  text-align: center;
}

#resultTitle{
margin-top: 50px;
}

#type {
  color: rgb(88, 88, 88);
  font-weight: bold;
  font-size: 25px;
  padding: 10px;
  border-radius: 10px;
}

#services {
  color: rgb(88, 88, 88);
  font-weight: bold;
  font-size: 25px;
  margin-left: 15px;
  padding: 10px;
  border-radius: 10px;
}

#input-search {
  margin-left: 15px;
  font-size: 25px;
  padding: 10px;
  width: 360px;
  border-radius: 10px;
}

#btn-search {
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin-top: 10px;
  margin-left: 15px;
  background-color: rgb(53, 126, 126);
  padding: 10px;
  border-radius: 10px;
}

#btn-search:hover {
  background-color:rgb(150, 218, 218);
  color: black;
}

.title , .score{
  font-size: 30px;
  color: mediumseagreen;
}

#addSuccess{
  text-align: center;
  color: red;
}

#title-selector {
  margin: 10px;
  font-size: 25px;
  font-weight: bold;
  padding: 5px;
  width: 100%;
  border-radius: 10px;
  padding: 15px 10px 15px 10px;
}
#title-selector option{
  width: 100%;
}

.Netflix {
  color: red;
}
.Hulu {
  color: limegreen;
}
.Disney {
  color: lightskyblue;
}
.Prime {
  color: orange;
}

/* saved */

#saved-title-title{
  font-family: Lucida Console, Courier, monospace;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  border: 1.5px solid rgb(75, 179, 179);
  border-radius: 20px;
  color: white;
  text-align: center;
  width: 50%;
  background-color: rgb(75, 179, 179);
  margin: auto;
}

#list-of-titles{
  margin-top: 50px;

}

.hide {
  display: none;
  position: absolute;
}
.show {
  display: inline-block;
  position: relative;
}

.partials {
  text-align: center;
}

.saved-partials{
margin-top: 20px;
}

.titles{
  text-align: center;
}

/* add */
.add-title, .add-stream, .search-title, .edit-title {
  text-align: center;
  margin: auto;
  margin-top: 50px;
  width: 50%;
}

.add-title legend, .add-stream legend, .edit-title legend, .search-title legend  {
  font-family: Lucida Console, Courier, monospace;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  border: 1.5px solid rgb(75, 179, 179);
  border-radius: 20px;
  color: white;
  text-align: center;
  width: 100%;
  background-color: rgb(75, 179, 179);
}

/* edit */
.edit {
  text-align: center;
  margin-top: 50px;
}

.checkbox-block{
  margin-top: 20px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  width: 100%;

}
.checkbox{
margin-left: 30px;
width: 20px;
height: 20px;
}

#add-type-select {
  margin-top: 20px;
  padding: 15px 10px 15px 10px;
  float: left;
  font-size: 25px;
  font-weight: bold;
  width: 20%;
  border-radius: 10px;
}

#stream-select {
  margin: 10px;
  font-size: 25px;
  font-weight: bold;
  color: rgb(75, 179, 179)
}
input{
  text-align: center;
}

#input-title {
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
  padding: 15px 10px 15px 10px;
  width: 55%;
  border-radius: 10px;
}

#input-imdb {
  margin-top: 20px;
  float: right;
  font-size: 25px;
  font-weight: bold;
  padding: 15px 10px 15px 10px;
  width: 20%;
  border-radius: 10px;
}

#input-stream {
  margin: 10px;
  font-size: 25px;
  font-weight: bold;
  padding: 15px 10px 15px 10px;
  width: 390px;
  border-radius: 10px;
}

#btn-submit {
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin: 15px;
  background-color: rgb(53, 126, 126);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

#btn-submit:hover {
  background-color:rgb(150, 218, 218);
  color: black;
}
.selector {
  margin: 10px;
  font-size: 25px;
  padding: 5px;
  width: 390px;
  border-radius: 10px;
}

/* edit */
#btn-edit {
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin: 15px;
  background-color: rgb(53, 126, 126);
  padding: 10px;
  border-radius: 10px;
}

#btn-edit:hover {
  background-color:rgb(150, 218, 218);
  color: black;
}

#edit-input-imdb{
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
  padding: 15px 10px 15px 10px;
  width: 20%;
  border-radius: 10px;
}

#edit-score-label{
  margin-left: 30px;
}

.edit-labels{
  font-size: 25px;
  font-weight: bold;
}
/* partials */
.results {
  font-size: 25px;
  font-weight: bold;
}

.results img {
  height: 40px;
  width: 100px;
  position: relative;
  /* bottom: -12px; */
  margin: 0;
  padding: 0;
}

.btn-remove {
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: red;
  padding: 5px;
  border-radius: 10px;
  position: relative;
  top: -5px;
}

.btn-save {
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: rgb(53, 126, 126);
  padding: 5px 20px;
  border-radius: 10px;
  position: relative;
  top: -5px;
}

.btn-imdb {
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: purple;
  margin-left: 5px;
  margin-right: 5px;
  padding: 4px;
  border-radius: 10px;
  position: relative;
  top: -5px;
}

legend {
  margin: auto;
}