<div class="titles">
    <div>
        <span class="results"><button class="btn-remove">Remove</button>
        {{!-- <button class="btn-imdb" onclick="showIMDB('1')">IMDB</button> --}}
        IMDB Score: 7.8 |
        The Secret Life of Pets |
        <img src="images/Netflix_Logo_RGB.png"> 
        <img src="images/hulu-green-digital.png"> 
        <img src="images/prime-video-10.png">
        <img src="images/Disney+-Logo.wine.png">
        </span>
    </div>
    <div id='1' class="hide">
        <p>This is where IMDB data will be displayed</p>
    </div>
</div>