<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <!-- menu -->
    <nav>
        <ul id="menu">
            <li>
                <a href="http://flip2.engr.oregonstate.edu:6548/">
                    <img id="logo" src="/images/showiemovie.png">
                </a>
            </li>
            <li>
                <a href="http://flip2.engr.oregonstate.edu:6548/">
                    <img id="menu-icon" src="/images/Search_find_3519.png">
                </a>
            </li>
            <li>
                <a href="http://flip2.engr.oregonstate.edu:6548/saved">
                    <img id="menu-icon" src="/images/heart.png">
                </a>
            </li>
            <li>
                <a href="http://flip2.engr.oregonstate.edu:6548/edit">
                    <img id="menu-icon" src="/images/edit.png">
                </a>
            </li>
        </ul>
    </nav>
    {{{body}}}
</body>

</html>