<title>Home | Showie Movie</title>

<h1 style="text-align: center; color: rgb(75, 173, 173);">*<sub>*</sub>* W E L C O M E *<sub>*</sub>*</h1>

<p style="font-size: 25px; color: rgb(100, 100, 100); font-weight: bold;">
    Showie Movie is a SQL database driven website that allows users to search over 20k+ titles and find the
    associated streaming platform.
</p>
<p style="margin-left:100px; font-size: 35px; color: rgb(100, 100, 100); font-weight: bold;"><a href="/search"><img
            src="/images/Search_find_3519.png" width="70x" height="70px"></a> Search movies and shows with their titles
</p>
<p style="margin-left:100px; font-size: 35px; color: rgb(100, 100, 100); font-weight: bold;"><a href="/saved"><img
            src="/images/heart.png" width="70px" height="70px"></a> Add your favorite movies and shows to the list</p>
<p style="margin-left:100px; font-size: 35px; color: rgb(100, 100, 100); font-weight: bold;"><a href="/edit"><img
            src="/images/edit-icon.png" width="70px" height="70px"></a> Edit the information of movies and shows</p>
<p style=" margin-left:100px;font-size: 35px; color: rgb(100, 100, 100); font-weight: bold;"><a href="/add"><img
            src="/images/add-icon.png" width="70px" height="70px"></a> Add new movies/shows/streaming services</p>