<title>Home | Showie Movie</title>
<p style="width: 50%; margin: auto;">Background: There are 5,611 shows and 16,744 movies currently available on the 4
    major streaming
    services; Netflix,
    Hulu, Prime video, and Disney+. Many people have subscriptions to multiple services and it is difficult to determine
    which one will have the show or movie you are looking for without actually searching within the streaming platform.
    A database driven website with the ability to search across the four main streaming platforms(Netflix, hulu, Prime,
    Disney+) will make it easier for customers to find the correct service with the movie or show that they would like
    to watch. For example, a user to the website could search for the title of a movie or show and the site will query
    the database and provide the platform(s) that offer the movie or show. </p>