<title>Saved | Showie Movie</title>
<!-- main -->
<main>
    <p style="text-align: center;">A list of added shows and movies will be displayed here. A single example is listed below. <br>Clicking Remove will remove the movie/show from the saved list.<br> Clicking IMDB will display additional move/show information</p>
    <div class="partials">
        {{> saved_titles}}
    </div>
</main>

{{!-- <script src="watchlist.js "></script> --}}
<script src="titles.js "></script>