<title>Saved | Showie Movie</title>
<!-- main -->
<main>
    <div id="saved-title-title">Your Saved Search Results</div>
    <div id="list-of-titles">
        {{#each data}}
        <div id={{this.id}} class="saved-partials">
            {{> saved_titles}}
        </div>
        {{/each}}
    </div>

</main>

<script src="saved.js "></script>