<title>Search | Showie Movie</title>
<!-- search -->
<main>
    <form class="search" action="#">
        <select id="type">
            <option value="disabled selected">TV / Movie</option>
            <option>TV Shows</option>
            <option>Movies</option>
        </select>
        {{!-- <select id="services">
            <option value="disabled selected">Streaming Service</option>
            <option>Netflix</option>
            <option>Hulu</option>
            <option>Prime Video</option>
            <option>Disney+
            <option>
        </select> --}}
        <!-- search button -->
        <input id="input-search" type="text" placeholder="Enter Title" name="search">
        <button id="btn-search" type="submit">🔍 Search</button>
    </form>

    <p style="text-align: center;">Results of the search will be displayed here in a list.<br> An example of a single result is listed below.<br> Clicking save will save the movie/show to the saved<img height="14px" width="14px" src="images/heart.png"> list.<br> Clicking IMDB will display additional movie/show information</p>
    <div class="partials">
        {{> titles}}
    </div>

</main>
{{!-- <script src="/public/script.js"></script> --}}
<script src="titles.js "></script>