<title>Search | Showie Movie</title>
<!-- search -->
<main>
    <form class="search" action="http://flip2.engr.oregonstate.edu:6548/search" method="post">
        {{!-- <select id="type" name="type" required="true">
            <option value="" disabled selected>TV / Movie</option>
            <option value="Shows">TV Shows</option>
            <option value="Movies">Movies</option>
        </select> --}}
        {{!-- <select id="services" name="services">
            <option value="disabled selected">Streaming Service</option>
            <option>Netflix</option>
            <option>Hulu</option>
            <option>Prime Video</option>
            <option>Disney+
            <option>
        </select> --}}
        <!-- search button -->
        <div id="type-select">
            <label for="title">Select a title: </label>
            <select class="selectpicker" data-live-search="true" name="titles">
                {{#each titles}}
                <option>{{this}}</option>
                {{/each}}
            </select>
        </div>
        {{!-- <input id="input-search" type="text" placeholder="Enter Title" name="search" required="true"> --}}
        <button id="btn-search" type="submit">🔍 Search</button>
    </form>

    <p style="text-align: center;">Results of the search will be displayed here in a list.<br> An example of a single
        result is listed below.<br> Clicking save will save the movie/show to the saved<img height="14px" width="14px"
            src="images/heart.png"> list.<br> Clicking IMDB will display additional movie/show information</p>
    {{#if result}}
    <div class="partials">
        {{> titles}}
    </div>
    {{/if}}
</main>
{{!-- <script src="/public/script.js"></script> --}}
<script src="titles.js "></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>